body {
    margin: 0;
    padding: 0;
  }
  
  #grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
    background-image: url('./images/7d46d1f9cfa4bf142c97fab7b0fdce89394ef4b5.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .cell {
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  .unit {
    width: 100%;
    height: 100%;
    background-color: blue;
    box-sizing: border-box;
  }
  
  .selected {
    background-color: green;
  }
  